<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Area Checker</title>
    <!-- Copy the styles from the first page here -->
    <style>
        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        .bg-yellow {
            background-color: yellow !important;
        }

        /* Add margin to the submit button */
        .btn-submit {
            margin-top: 10px;
            /* Adjust the margin-top as needed */
        }

        /* Increase the margin-bottom for the h1 element */
        h1 {
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }
    </style>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <a class="dropdown-item" href="/search">Search</a>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <% } %>
                                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                                <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                                    Checker</a>
                                                <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item bg-yellow" href="/listofAllOrdersOFD">All Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item bg-blue" href="/listofAllOrdersSC">All Self
                                                    Collect</a>
                                                <a class="dropdown-item bg-blue" href="/listofAllOrdersAW">All
                                                    Warehouse</a>
                                                <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                                    ].includes(user.role)) { %>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                                    <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                                    <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                                    <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                                    <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                                    <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                        Service
                                                        (Limbang)</a>
                                                    <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                        SHEIN</a>
                                                    <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                                    <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin'
                                        ].includes(user.role)) {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofpharmacyMOHOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue"
                                                            href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                            STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                            EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                            IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                            TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                            KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) {
                                                                %>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <a class="dropdown-item"
                                                                    href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager'
                                                                        , 'admin' ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>

                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                ].includes(user.role)) { %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                            %>
                                                            <a class="dropdown-item"
                                                                href="/ewemanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <div class="dropdown-header">SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                                <a class="dropdown-item bg-yellow"
                                                                    href="/listofEWEOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item bg-blue"
                                                                    href="/listofEWEOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCD">Cancelled</a>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <div class="dropdown-header">NON SHEIN</div>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrders">All</a>
                                                                <a class="dropdown-item bg-yellow"
                                                                    href="/listofEWENSOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item bg-blue"
                                                                    href="/listofEWENSOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        TEMU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                        <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofTEMUCOrdersOFC">Out for
                                                            Collection</a>
                                                        <a class="dropdown-item bg-blue" href="/listofTEMUCOrdersDO">Drop Off</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item bg-yellow" href="/listofOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                    </div>
                                                </li>
                                                <% } %>

                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item"
                                                                            href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <main class="container mt-4">
        <h1>Address Area Checker</h1>
        <form action="/addressAreaCheck" method="post" id="addressAreaForm">
            <textarea name="customerAddresses" id="customerAddresses" rows="10" cols="100" class="col-12"></textarea>
            <br>
            <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
        </form>

        <!-- Loading animation and message -->
        <div id="loading" class="text-center" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Get references to the form, submit button, and loading element
        const addressAreaForm = document.getElementById('addressAreaForm');
        const submitButton = document.getElementById('submitButton');
        const loading = document.getElementById('loading');

        // Function to disable the submit button when it's clicked and show the loading animation
        function disableSubmitButton(event) {
            submitButton.disabled = true;
            loading.style.display = 'block'; // Show the loading animation
            // You can add code here to submit the form data via AJAX if needed

            // Allow the form to submit after a brief delay (e.g., 1 second)
            setTimeout(() => {
                addressAreaForm.submit();
            }, 1000);
        }

        // Attach the disableSubmitButton function to the "submit" event of the form
        addressAreaForm.addEventListener('submit', disableSubmitButton);
    </script>

</body>

</html>