<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Area Checker</title>
    <!-- Copy the styles from the first page here -->
    <style>
        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        .bg-yellow {
            background-color: yellow !important;
        }

        /* Add margin to the submit button */
        .btn-submit {
            margin-top: 10px;
            /* Adjust the margin-top as needed */
        }

        /* Increase the margin-bottom for the h1 element */
        h1 {
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }
    </style>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand mr-auto" href="/">
                <h2>Go Rush</h2>
            </a>
            <ul class="navbar-nav flex-row">
                <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Operation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                            <% } %>
                            <% if (['warehouse', 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://warehouse.gorushbn.com">Scan Parcel In Warehouse (Pharmacy/EWE/PDU/MGLOBAL)</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                            <% } %>
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/addressAreaCheck">Address Area Checker</a>
                                <a class="dropdown-item" href="/searchJobs">Search Jobs</a>
                            <% } %>
                            <% if (['finance', 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/manifesttobillsearch">Search Manifest to Bill</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                <a class="dropdown-item" href="/listofnoncodPod">POD EWE/PDU/MGLOBAL</a>
                                <a class="dropdown-item" href="/listofldPod">POD LD/Pure51/KPT/ICARUS</a>
                                <a class="dropdown-item" href="/listofcbslPod">POD Cross Border Service (Limbang)</a>
                            <% } %>
                        </div>
                    </li>
                <% } %>

                <% if (['moh', 'cs' , 'manager' , 'admin', 'warehouse' ].includes(user.role)) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mohDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MOH
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mohDropdown">
                            <% if (['moh'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/mohsearch">Search</a>
                            <% } %>
                            <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/mohorders?">Create Pharmacy Form</a>
                            <% } %>
                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/manifestviewer">Pharmacy Form List</a>
                                <a class="dropdown-item" href="/listofWargaEmasOrders">All Warga Emas Orders</a>
                            <% } %>
                        </div>
                    </li>
                <% } %>

                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="accountSettingsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <%= user.name %> (<%= user.role.toUpperCase() %>)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountSettingsDropdown">
                            <a class="dropdown-item" href="/">Dashboard</a>
                            <% if (['admin'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/createUser">Create User</a>
                            <% } %>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </nav>
                </div>
            </div>
        </div>
    </div>
    <main class="container mt-4">
        <h1 class="text-center mt-4">Address Area Checker</h1>
        <form action="/addressAreaCheck" method="post" id="addressAreaForm">
            <textarea name="customerAddresses" id="customerAddresses" rows="10" cols="100" class="col-12"></textarea>
            <br>
            <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
        </form>

        <!-- Loading animation and message -->
        <div id="loading" class="text-center" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Get references to the form, submit button, and loading element
        const addressAreaForm = document.getElementById('addressAreaForm');
        const submitButton = document.getElementById('submitButton');
        const loading = document.getElementById('loading');

        // Function to disable the submit button when it's clicked and show the loading animation
        function disableSubmitButton(event) {
            submitButton.disabled = true;
            loading.style.display = 'block'; // Show the loading animation
            // You can add code here to submit the form data via AJAX if needed

            // Allow the form to submit after a brief delay (e.g., 1 second)
            setTimeout(() => {
                addressAreaForm.submit();
            }, 1000);
        }

        // Attach the disableSubmitButton function to the "submit" event of the form
        addressAreaForm.addEventListener('submit', disableSubmitButton);
    </script>

</body>

</html>