<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        .navbar {
            background-color: transparent;
        }

        .container-bg {
            background-color: #333;
        }

        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        .btn-submit {
            margin-top: 10px;
        }

        th,
        td {
            font-size: 15px;
            text-align: center;
        }

        table {
            width: 100%;
            margin: 0 auto;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-bg">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand mr-auto" href="/">
                    <h2>Go Rush</h2>
                </a>
                <ul class="navbar-nav flex-row">
                    <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operation
                            </a>
                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                        <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                        <% } %>
                                        <% if (['warehouse', 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                        <a class="dropdown-item" href="https://warehouse.gorushbn.com">Scan Parcel In Warehouse (Pharmacy/EWE/PDU/MGLOBAL)</a>
                                        <% } %>
                                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'
                                            ].includes(user.role)) { %>
                                        <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                                        <% } %>
                                        <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                        <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                            Checker</a>
                                            <% } %>
                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) { %>
                                                    <a class="dropdown-item" href="/manifesttobillsearch">Search Manifest to Bill</a>
                                        <% } %>
                                        <% if (['cs' , 'warehouse' , 'manager' , 'admin'
                                            ].includes(user.role)) { %>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                            <a class="dropdown-item" href="/listofnoncodPod">POD EWE/PDU/MGLOBAL</a>
                                            <a class="dropdown-item" href="/listofldPod">POD LD/Pure51/KPT/ICARUS</a>
                                            <a class="dropdown-item" href="/listofcbslPod">POD Cross Border Service (Limbang)</a>
                                            <% } %>
                            </div>
                        </li>
                        <% } %>
                            <% if (['moh', 'cs' , 'manager' , 'admin', 'warehouse' ].includes(user.role))
                                {%>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        MOH
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['moh'].includes(user.role))
                                {%>
                                        <a class="dropdown-item" href="/mohsearch">Search</a>
                                        <% } %>
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                    <a class="dropdown-item" href="/search">Search Pharmacy Order</a>
                                    <% } %>
                                            <% if (['warehouse' , 'cs' , 'manager' , 'admin'
                                                ].includes(user.role)) { %>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/mohorders?">Create Pharmacy Form</a>
                                                <% } %>
                                                    <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                                        <a class="dropdown-item" href="https://pharmacy.gorushbn.com/manifestviewer">Pharmacy
                                                            Form
                                                            List</a>
                                                            <a class="dropdown-item" href="/listofWargaEmasOrders">All
                                            Warga Emas Orders</a>
                                                        <% } %>
                                    </div>
                                </li>
                                <% } %>

                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role)) {
                                        %>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Others
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/listofpharmacyJPMCOrders">JPMC</a>
                                                <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                                                                <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                    Service
                                                    (Limbang)</a>
                                                <a class="dropdown-item" href="/listofLDOrders">Local
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofPURE51orders">Pure51</a>
                                                                                                    <a class="dropdown-item" href="/listofKPTDPOrders">KPT</a>
                                                <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                            </div>
                                        </li>
                                        <% } %>

                                            <!-- Add conditional rendering for login/logout buttons -->
                                            <% if (user) { %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#"
                                                        id="accountSettingsDropdown" role="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                    </a>
                                                    <div class="dropdown-menu"
                                                        aria-labelledby="accountSettingsDropdown">
                                                        <a class="dropdown-item" href="/">Dashboard</a>
                                                        <% if (['admin'].includes(user.role)) { %>
                                                            <a class="dropdown-item" href="/createUser">Create
                                                                User</a>
                                                            <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                            <% } %>
                                                                <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                <a class="dropdown-item" href="/logout">Logout</a>
                                                    </div>
                                                </li>
                                                <% } else { %>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/login">Login</a>
                                                    </li>
                                                    <% } %>
                </ul>
            </nav>
        </div>
    </div>

    <body>
        <h1 class="text-center mt-4">Create User</h1>
        <% if (typeof errors !=='undefined' ) { %>
            <ul>
                <% errors.forEach(function(error) { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <form action="/createUser" method="post">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>
                    <div>
                        <label for="role">Role:</label>
                        <select name="role" required>
                            <option value="admin">Admin</option>
                            <option value="manager">Manager</option>
                            <option value="cs">CS</option>
                            <option value="warehouse">Warehouse</option>
                            <option value="finance">Finance</option>
                            <option value="moh">MOH</option>
                        </select>
                    </div>
                    <button type="submit">Create User</button>
                </form>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>