<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POC Detail</title>
</head>

<body>
    <div>
        <%- htmlContent %>
    </div>
    <div class="button-container text-center">
        <button id="printButton" class="btn btn-primary">Print</button>
        <button id="exportExcelButton" class="btn btn-success">Export Excel</button>
        <button id="backButton" class="btn btn-primary" onclick="history.back()">Back to POC
            List</button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('exportExcelButton').disabled = false;
            document.getElementById('printButton').disabled = false;
        })
    </script>
</body>

</html>