<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POD / POC Generator</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <!-- Add your custom CSS here -->
  <style>
    /* Custom CSS for your page */
    .navbar-nav.flex-row {
      flex-direction: row !important;
    }

    /* Make the navbar background transparent */
    .navbar {
      background-color: transparent;
    }

    /* Add background color to the container */
    .container-bg {
      background-color: #333;
      /* You can use your desired background color here */
    }

    /* Add margin to the navigation links */
    .navbar-nav.flex-row .nav-item {
      margin-right: 10px;
    }

    /* Add any custom styles specific to your form here */
    .container-bg {
      background-color: #333;
      /* You can use your desired background color here */
    }

    .logo {
  height: 40px;
  width: auto;
  max-height: 40px;
}

@media (max-width: 768px) {
  .logo {
    height: 30px;
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 25px;
    max-height: 25px;
  }
}
  </style>

  <script>
    function validateForm() {
      const checkboxes = document.querySelectorAll('input[name="areas"]');
      let atLeastOneSelected = false;
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          atLeastOneSelected = true;
        }
      });

      if (!atLeastOneSelected) {
        alert('Please select at least one area.');
        return false;
      }

      // Continue with the form submission if at least one area is selected
      return true;
    }
  </script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/smallgorushlogo.png">
  <link rel="icon" href="/images/smallgorushlogo.png" type="image/x-icon">
<link rel="icon" href="/images/smallgorushlogo.png" type="image/png">
<link rel="apple-touch-icon" href="/images/favicon.png">
</head>

<body>
  <div class="container-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <%- include('partials/navbar') %>
        </div>
      </div>
    </div>
  </div>

  <main class="container mt-4">
    <h1 class="text-center mt-4">POD Generator</h1>
    <form action="/generatePOD" method="post" onsubmit="return validateForm()">
      <div class="mb-3">
        <label for="product" class="form-label">Product:</label>
        <select class="form-select" name="product" id="product" required>
          <option value="Pharmacy">Pharmacy</option>
          <option value="EWE/PDU/MGLOBAL">EWE/PDU/MGLOBAL</option>
          <option value="Local Delivery">Local Delivery/Pure51/KPT/ICARUS</option>
          <option value="CBSL">Cross Border Service (Limbang)</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="deliveryDate" class="form-label">Delivery Date (DD.MM.YY):</label>
        <input type="date" class="form-control" name="deliveryDate" id="deliveryDate" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Area (Select at least one):</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaB" value="B">
          <label class="form-check-label" for="areaB">B</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaG" value="G">
          <label class="form-check-label" for="areaG">G</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaJT" value="JT">
          <label class="form-check-label" for="areaJT">JT</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaTTG" value="TUT">
          <label class="form-check-label" for="areaTTG">TUT</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaKB" value="KB">
          <label class="form-check-label" for="areaKB">KB</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaTEMB" value="TEMB">
          <label class="form-check-label" for="areaTEMB">TEMBURONG</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="areas" id="areaHQ" value="HQ">
          <label class="form-check-label" for="areaHQ">HQ</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="dispatchers" class="form-label">Dispatchers:</label>
        <select class="form-select" name="dispatchers" id="dispatchers" required>
          <option value="Ghafar">Ghafar</option>
          <option value="Sowdeq">Sowdeq</option>
          <option value="Leo">Leo</option>
          <option value="Hairol">Hairol</option>
          <option value="Zuddin">Zuddin</option>
          <option value="Hamidin">Hamidin</option>
          <!-- <option value="Syahmi">Syahmi</option> -->
          <!-- <option value="FL1">FL1</option> -->
          <option value="Self-Collect">Self-Collect</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="field-wrapper" id="freelancerNameWrapper">
          <label for="freelancerName" class="form-label">Freelancer Name:</label>
          <input type="text" id="freelancerName" name="freelancerName" class="form-control" disabled>
        </div>
      </div>
      <div class="mb-3">
        <label for="trackingNumbers" class="form-label">Tracking Number(s) (One per line):</label>
        <textarea class="form-control" name="trackingNumbers" id="trackingNumbers" rows="5" required></textarea>
      </div>
      <input type="hidden" name="podCreatedDate" id="podCreatedDate" value="">
      <input type="hidden" name="dispatcherAndDate" id="dispatcherAndDate" value="">
      <button type="submit" id="submitButton" class="btn btn-primary">Generate POD</button>
    </form>
    <div id="loading" class="text-center" style="display: none;">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p>Loading...</p>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get references to the "Dispatchers" and "Freelancer Name" fields
      const dispatchersField = document.getElementById('dispatchers');
      const freelancerNameField = document.getElementById('freelancerName');

      // Function to show/hide the "Freelancer Name" field based on the selected dispatcher
      function updateFreelancerNameField() {
        const selectedDispatcher = dispatchersField.value;

        if ((selectedDispatcher === 'FL1') || (selectedDispatcher === 'FL2')) {
          // If FL1, FL2, or FL3 is selected, show and enable the "Freelancer Name" field
          $("#freelancerNameWrapper").fadeIn();
          freelancerNameField.disabled = false;
          freelancerNameField.required = true;
        } else {
          // If other options are selected, hide and disable the "Freelancer Name" field
          $("#freelancerNameWrapper").hide();
          freelancerNameField.disabled = true;
          freelancerNameField.required = false;
          freelancerNameField.value = ''; // Clear the field's value
        }
      }

      // Attach the updateFreelancerNameField function to the "change" event of the "Dispatchers" dropdown
      dispatchersField.addEventListener('change', updateFreelancerNameField);

      // Initialize the "Freelancer Name" field based on the initial selected dispatcher
      updateFreelancerNameField();
    });
  </script>

  <script>
    // Get reference to the submit button
    const submitButton = document.getElementById('submitButton');
    // Function to disable the submit button when it's clicked and show the loading animation
    function disableSubmitButton(event) {
      submitButton.disabled = true;
      document.getElementById('loading').style.display = 'block'; // Show the loading animation
    }

    // Attach the disableSubmitButton function to the "submit" event of the form
    document.querySelector('form').addEventListener('submit', disableSubmitButton);
  </script>
</body>

</html>