<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan FMX</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body>
    <h1>Success!</h1>
    <p>Status updated.</p>

    <script>
        // Redirect back to the previous page after 3 seconds (adjust the time as needed)
        setTimeout(function () {
            window.location.href = '/scanFMXwithPOD'; // Redirect to the previous page
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
</body>

</html>