<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan FMX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333; /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add margin to the submit button */
        .btn-submit {
            margin-top: 10px; /* Adjust the margin-top as needed */
        }
    </style>
</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <h1 class="navbar-brand">Scan FMX</h1>
                        <ul class="navbar-nav mx-auto flex-row">
                            <li class="nav-item"><a class="nav-link" href="/scanFMX">Scan FMX</a></li>
                            <li class="nav-item"><a class="nav-link" href="/scanFMXwithPOD">Scan FMX with POD</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <main class="container mt-4">
        <form action="/scanFMX" method="post">
            <div class="mb-3">
                <label for="consignmentID" class="form-label">Consignment ID:</label>
                <textarea id="consignmentID" name="consignmentIDs" class="form-control" rows="2" required></textarea>
            </div>
            <div class="mb-3">
                <label for="statusCode" class="form-label">Status Code:</label>
                <select id="statusCode" name="statusCode" class="form-select" required>
                    <option value="" selected>Please select status</option>
                    <option value="CP">Custom Clearance In Progress</option>
                    <option value="38">Custom Clearance Release</option>
                    <option value="12">Item In Warehouse</option>
                    <option value="35">Out for Delivery</option>
                    <option value="NA">Customer cannot be contacted</option>
                    <option value="44">Return to warehouse</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>

</html>