<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Delivery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://unpkg.com/imask"></script>
    <style>
        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add margin to the submit button */
        .btn-submit {
            margin-top: 10px;
            /* Adjust the margin-top as needed */
        }

        /* Increase the margin-bottom for the h1 element */
        h1 {
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }

        /* Custom CSS for reducing line height */
        .delivery-flow-box p {
            margin: 5px 0;
            /* Adjust the margin to control line spacing */
        }
    </style>
</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <a class="dropdown-item" href="/search">Search</a>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <% } %>
                                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                                <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                                    Checker</a>
                                                <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item bg-yellow" href="/listofAllOrdersOFD">All Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item bg-blue" href="/listofAllOrdersSC">All Self
                                                    Collect</a>
                                                <a class="dropdown-item bg-blue" href="/listofAllOrdersAW">All
                                                    Warehouse</a>
                                                <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                                    ].includes(user.role)) { %>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                                    <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                                    <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                                    <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                                    <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                                    <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                        Service
                                                        (Limbang)</a>
                                                    <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                        SHEIN</a>
                                                    <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                                    <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin'
                                        ].includes(user.role)) {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofpharmacyMOHOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue"
                                                            href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                            STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                            EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                            IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                            TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                            KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) {
                                                                %>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <a class="dropdown-item"
                                                                    href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager'
                                                                        , 'admin' ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>
        
                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                ].includes(user.role)) { %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                            %>
                                                            <a class="dropdown-item"
                                                                href="/ewemanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <div class="dropdown-header">SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                                <a class="dropdown-item bg-yellow"
                                                                    href="/listofEWEOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item bg-blue"
                                                                    href="/listofEWEOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCD">Cancelled</a>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <div class="dropdown-header">NON SHEIN</div>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrders">All</a>
                                                                <a class="dropdown-item bg-yellow"
                                                                    href="/listofEWENSOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item bg-blue"
                                                                    href="/listofEWENSOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        TEMU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                        <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofTEMUCOrdersOFC">Out for
                                                            Collection</a>
                                                        <a class="dropdown-item bg-blue" href="/listofTEMUCOrdersDO">Drop Off</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item bg-yellow" href="/listofOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                    </div>
                                                </li>
                                                <% } %>
        
                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item"
                                                                            href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <main class="container mt-4 mb-4">
        <h1>Update Delivery</h1>
        <form action="/updateDelivery" method="post">
            <div class="mb-3">
                <div class="field-wrapper" id="consignmentIDWrapper">
                    <label for="consignmentID" class="form-label">Tracking Number(s):</label>
                    <textarea id="consignmentID" name="consignmentIDs" class="form-control" rows="2"
                        required></textarea>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="statusCodeWrapper">
                    <label for="statusCode" class="form-label">Status Code:</label>
                    <select id="statusCode" name="statusCode" class="form-select" required>
                        <option value="" selected>Please select status</option>
                        <optgroup label="FMX Flow starts here">
                            <!-- <option value="IR">|FMX only| Info Received</option> -->
                            <option value="CP">1. Custom Clearance In Progress</option>
                            <option value="DC">2. Detained by Customs</option>
                            <option value="38">3. Custom Clearance Release</option>
                        </optgroup>
                        <optgroup label="Standard Delivery Flow starts here">
                            <option value="12">Item In Warehouse</option>
                        </optgroup>
                        <!-- <option value="NC">|All| Notify Customer Delivery Tomorrow</option> -->
                        <optgroup label="Standard Collection Flow starts here">
                            <option value="35">1.1. Out for Delivery / Collection</option>
                            <option value="CSSC">1.2. Self Collect / Drop Off</option>
                            <option value="SFJ">2. Clear Job</option>
                        </optgroup>
                        <optgroup label="Change Details">
                            <option value="SD">Swap Dispatchers</option>
                            <option value="UD">Update Job Date</option>
                            <option value="UP">Update Price</option>
                            <option value="UW">Update Weight</option>
                            <option value="UAS">Update Address</option>
                            <option value="UAR">Update Area</option>
                            <option value="UPN">Update Phone Number</option>
                            <option value="URN">Update Customer Name</option>
                        </optgroup>
                        <optgroup label="Danger Zone!!!">
                            <option value="CD">1. Cancelled Job</option>
                            <option value="AJ">2. Cancelled -> Reactivate Job</option>
                            <option value="47">3. Dispose Job</option>
                            <!-- <option value="AJN">|FMX & EWE/SHEIN| Cancelled -> Reactivate Job with new tracking number</option> -->
                            <!-- <option value="FA">|All| Fix Job</option> -->
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="assignDateWrapper">
                    <label for="assignDate" class="form-label">Assign Date:</label>
                    <input type="date" id="assignDate" name="assignDate" class="form-control" disabled>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="dispatchersWrapper">
                    <label for="dispatchers" class="form-label">Dispatchers:</label>
                    <select id="dispatchers" name="dispatchers" class="form-select" disabled>
                        <option value="" selected>Please select dispatcher</option>
                        <option value="Hasbul">Hasbul</option>
                        <option value="Safwan">Safwan</option>
                        <option value="Hazri">Hazri</option>
                        <option value="Jerat">Jerat</option>
                        <!-- <option value="Syahmi">Syahmi</option> -->
                        <option value="FL1">FL1</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="freelancerNameWrapper">
                    <label for="freelancerName" class="form-label">Freelancer Name:</label>
                    <input type="text" id="freelancerName" name="freelancerName" class="form-control" disabled>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="additionalReasonWrapper">
                    <label for="additionalReason" class="form-label">Additional Reason / Rescheduled Date:</label>
                    <input type="text" id="additionalReason" name="additionalReason" class="form-control" disabled>
                    <strong><small>*For Detained by Customs or Cancelled Delivery, fill in the
                            reason.</small></strong><br>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="warehouseWrapper">
                    <label for="warehouse" class="form-label">Warehouse:</label>
                    <select id="warehouse" name="warehouse" class="form-select" disabled>
                        <option value="" selected>Please select warehouse location</option>
                        <option value="Warehouse K1">Warehouse K1</option>
                        <option value="Warehouse K2">Warehouse K2</option>
                    </select>
                    <small>K1 > Go Rush Kiulap</small><br>
                    <small>K2 > Simpang 14-9</small><br>
                    <strong><small>*If no failed job, pick K1</small></strong><br>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="weightWrapper">
                    <label for="weight" class="form-label">New Weight:</label>
                    <input type="text" id="weight" name="weight" class="form-control" disabled>
                    <strong><small>*1 tracking number per update recommended unless multiple tracking number with same
                            weight.</small></strong>
                </div>
            </div>
            <div class="mb-3">
                <div class="field-wrapper" id="paymentMethodWrapper">
                    <label for="paymentMethod" class="form-label">Payment Method:</label>
                    <select id="paymentMethod" name="paymentMethod" class="form-select" disabled>
                        <option value="" selected>Please select payment method</option>
                        <optgroup label="NON COD">
                            <option value="NON COD">NON COD</option>
                        </optgroup>
                        <optgroup label="COD">
                            <option value="Cash">Cash</option>
                            <option value="Bill Payment (BIBD)">Bill Payment (BIBD)</option>
                            <option value="Bank Transfer (BIBD)">Bank Transfer (BIBD)</option>
                            <option value="Bank Transfer (Baiduri)">Bank Transfer (Baiduri)</option>
                        </optgroup>
                    </select>
                </div>
                <div class="field-wrapper" id="priceWrapper">
                    <br>
                    <label for="price" class="form-label">New Price:</label>
                    <input type="text" id="price" name="price" class="form-control" disabled>
                    <strong><small>*1 tracking number per update recommended unless multiple tracking number with same
                            price and payment method.</small></strong>
                </div>
                <div class="mb-3">
                    <div class="field-wrapper" id="areaWrapper">
                        <label for="area" class="form-label">New Area:</label>
                        <select id="area" name="area" class="form-select" disabled>
                            <option value="" selected>Please select area</option>
                            <option value="B">B</option>
                            <option value="G">G</option>
                            <option value="JT">JT</option>
                            <option value="KB">KB</option>
                            <option value="TUTONG">TUTONG</option>
                            <option value="TEMBURONG">TEMBURONG</option>
                        </select>
                        <strong><small>*1 tracking number per update recommended unless multiple tracking number with
                                same
                                area.</small></strong>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="field-wrapper" id="addressWrapper">
                        <label for="address" class="form-label">New Address:</label>
                        <input type="text" id="address" name="address" class="form-control" disabled>
                        <strong><small>*1 tracking number per update recommended unless multiple tracking number with
                                same
                                address.</small></strong>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="field-wrapper" id="phoneNumWrapper">
                        <label for="phoneNum" class="form-label">New Phone Number:</label>
                        <input type="text" id="phoneNum" name="phoneNum" class="form-control" disabled>
                        <strong><small>*1 tracking number per update recommended unless multiple tracking number with
                                same
                                phone number.</small></strong><br>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="field-wrapper" id="nameWrapper">
                        <label for="name" class="form-label">New Name:</label>
                        <input type="text" id="name" name="name" class="form-control" disabled>
                        <strong><small>*1 tracking number per update recommended unless multiple tracking number with
                                same
                                name.</small></strong>
                    </div>
                </div>
            </div>
            <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
        </form>

        <div id="loading" class="text-center" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>

        <div class="mt-4 p-3 delivery-flow-box"
            style="background-color: #ffffcc; border: 2px solid #333; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
            <h5>Delivery Flow:</h5>
            <p><strong>Success:</strong> Item in Warehouse (By CS Team on Portal) &rarr; Out for Delivery (By CS Team on
                Portal) &rarr; Completed / Clear Job (By Dispatcher on Agent
                App and CS Team on Portal)</p>
            <p><strong>Fail:</strong> Out for Delivery (By CS Team on Portal) &rarr; Failed (By Dispatcher on Agent App)
                &rarr; Return To
                Warehouse / Clear Job (By CS Team on Portal)</p>
            <p><strong>Self Collect:</strong> At Warehouse (By CS Team on Portal) &rarr; Self Collect (By CS
                Team on Portal) &rarr; Completed / Clear Job (By CS Team on
                Agent App and Portal)
            </p>
        </div>
        <div class="mt-4 p-3 delivery-flow-box"
            style="background-color: #ffffcc; border: 2px solid #333; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
            <h5>Collection Flow:</h5>
            <p><strong>Success:</strong> Out for Collection (By CS Team on Portal) &rarr; Completed / Clear Job (By
                Dispatcher on Agent
                App and CS Team on Portal)</p>
            <p><strong>Fail:</strong> Out for Collection (By CS Team on Portal) &rarr; Failed (By Dispatcher on Agent App)
                &rarr; Clear Job (By CS Team on Portal)</p>
            <p><strong>Drop Off:</strong> Drop Off (By CS Team on Portal) &rarr; Completed / Clear Job (By CS Team
                on
                Agent App and Portal)
            </p>
        </div>
        <div class="mt-4 p-3 delivery-flow-box"
            style="background-color: #ffffcc; border: 2px solid #333; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
            <h5>FMX Delivery Flow:</h5>
            <p><strong>Success:</strong> Custom Clearing in Progress (By CS Team on Portal) &rarr; Custom Clearing Release (By CS Team on Portal) &rarr; Item In Warehouse (By CS Team on Portal)
                &rarr; Out For Delivery (By CS Team on Portal) &rarr; Completed / Clear Job (By Dispatcher on Agent App and CS Team on Portal)</p>
            <p><strong>Fail:</strong> Out For Delivery (By CS Team on Portal) &rarr; Failed (By Dispatcher on Agent App) &rarr; Return to Warehouse / Clear Job (By CS Team on Portal)</p>
            <p><strong>Self Collect:</strong> At Warehouse (By CS Team on Portal) &rarr; Assign to Self Collect (By CS Team on Portal) &rarr; Completed / Clear Job (By CS Team on
                Agent App & Portal)
            </p>
        </div>

        <!-- Table with the provided details -->
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Phone</th>
                    <th>Detrack ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hasbul's Phone</td>
                    <td>989285e533d660d6</td>
                </tr>
                <tr>
                    <td>Safwan's Phone</td>
                    <td>e1d83669ac092e51</td>
                </tr>
                <tr>
                    <td>Hazri's Phone</td>
                    <td>0ee3718703976077</td>
                </tr>
                <tr>
                    <td>Jerat's Phone</td>
                    <td>812dfd3092f7c09d</td>
                </tr>
                <tr>
                    <td>Ipad for Self Collect</td>
                    <td>827db6d20832f29a</td>
                </tr>
            </tbody>
        </table>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#assignDateWrapper").hide();
            $("#dispatchersWrapper").hide();
            $("#freelancerNameWrapper").hide();
            $("#additionalReasonWrapper").hide();
            $("#warehouseWrapper").hide();
            $("#weightWrapper").hide();
            $("#paymentMethodWrapper").hide();
            $("#priceWrapper").hide();
            $("#areaWrapper").hide();
            $("#addressWrapper").hide();
            $("#phoneNumWrapper").hide();
            $("#nameWrapper").hide();
            // Get references to the "Assign Date" and "Dispatchers" fields
            const assignDateField = document.getElementById('assignDate');
            const dispatchersField = document.getElementById('dispatchers');
            const freelancerNameField = document.getElementById('freelancerName');
            const additionalReasonField = document.getElementById('additionalReason');
            const warehouseField = document.getElementById('warehouse');
            const weightField = document.getElementById('weight');
            const paymentMethodField = document.getElementById('paymentMethod');
            const priceField = document.getElementById('price');
            const areaField = document.getElementById('area');
            const addressField = document.getElementById('address');
            const phoneNumField = document.getElementById('phoneNum');
            const nameField = document.getElementById('name');

            // Get reference to the "Status Code" select element
            const statusCodeSelect = document.getElementById('statusCode');

            // Get reference to the submit button
            const submitButton = document.getElementById('submitButton');

            // Function to disable the submit button when it's clicked and show the loading animation
            function disableSubmitButton(event) {
                submitButton.disabled = true;
                document.getElementById('loading').style.display = 'block'; // Show the loading animation
            }

            // Attach the disableSubmitButton function to the "submit" event of the form
            document.querySelector('form').addEventListener('submit', disableSubmitButton);

            // Function to show/hide the "Freelancer Name" field based on the selected dispatcher
            function updateFreelancerNameField() {
                const selectedDispatcher = dispatchersField.value;

                if ((selectedDispatcher === 'FL1') || (selectedDispatcher === 'FL2')) {
                    // If FL1, FL2, or FL3 is selected, show and enable the "Freelancer Name" field
                    $("#freelancerNameWrapper").fadeIn();
                    freelancerNameField.disabled = false;
                    freelancerNameField.required = true;
                } else {
                    // If other options are selected, hide and disable the "Freelancer Name" field
                    $("#freelancerNameWrapper").hide();
                    freelancerNameField.disabled = true;
                    freelancerNameField.required = false;
                    freelancerNameField.value = ''; // Clear the field's value
                }
            }

            document.getElementById('weight').addEventListener('input', function (e) {
                const value = e.target.value;

                // Regular expression to match numbers with up to 3 decimal places
                const validNumber = /^\d*\.?\d{0,3}$/;

                // If the value does not match the pattern, remove the last character
                if (!validNumber.test(value)) {
                    e.target.value = value.slice(0, -1);
                }
            });

            priceField.addEventListener('input', function (e) {
                const value = e.target.value;

                // Regular expression to match numbers with up to 2 decimal places
                const validNumber = /^\d*\.?\d{0,2}$/;

                // If the value does not match the pattern, remove the last character
                if (!validNumber.test(value)) {
                    e.target.value = value.slice(0, -1);
                }
            });

            function updatePriceWrapper() {
                const selectedPaymentMethod = paymentMethodField.value;
                if (selectedPaymentMethod === 'NON COD') {
                    $("#priceWrapper").hide();
                    priceField.disabled = true;
                    priceField.required = false;
                    priceField.value = ''; // Clear the field's value
                } else {
                    $("#priceWrapper").fadeIn();
                    priceField.disabled = false;
                    priceField.required = true;
                }
            }

            // Function to enable/disable fields and set them as required based on the selected status code
            function updateFieldStatus() {
                const selectedStatusCode = statusCodeSelect.value;

                // Reset the values of "Assign Date" and "Dispatchers"
                assignDateField.value = '';
                dispatchersField.value = '';
                additionalReasonField.value = '';
                freelancerNameField.value = ''; // Clear the field's value
                warehouseField.value = '';
                weightField.value = '';
                paymentMethodField.value = '';
                priceField.value = '';
                areaField.value = '';
                addressField.value = '';
                phoneNumField.value = '';
                nameField.value = '';

                $("#assignDateWrapper").hide();
                $("#dispatchersWrapper").hide();
                $("#additionalReasonWrapper").hide();
                $("#freelancerNameWrapper").hide();
                $("#warehouseWrapper").hide();
                $("#weightWrapper").hide();
                $("#paymentMethodWrapper").hide();
                $("#priceWrapper").hide();
                $("#areaWrapper").hide();
                $("#addressWrapper").hide();
                $("#phoneNumWrapper").hide();
                $("#nameWrapper").hide();

                if ((selectedStatusCode === '35') || (selectedStatusCode === 'SD')) {
                    // Enable the fields for "Out for Delivery" or "Self Collect"
                    assignDateField.disabled = false;
                    dispatchersField.disabled = false;
                    additionalReasonField.disabled = true;
                    warehouseField.disabled = true;

                    $("#assignDateWrapper").fadeIn();
                    $("#dispatchersWrapper").fadeIn();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                    // Set the fields as required
                    assignDateField.required = true;
                    dispatchersField.required = true;
                    additionalReasonField.required = false;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                } else if ((selectedStatusCode === 'CSSC') || (selectedStatusCode === 'UD')) {
                    // Enable the fields for "Out for Delivery" or "Self Collect"
                    assignDateField.disabled = false;
                    dispatchersField.disabled = true;
                    additionalReasonField.disabled = true;
                    warehouseField.disabled = true;

                    $("#assignDateWrapper").fadeIn();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                    // Set the fields as required
                    assignDateField.required = true;
                    dispatchersField.required = false;
                    additionalReasonField.required = false;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                } else if (selectedStatusCode === 'UP') {
                    assignDateField.disabled = true;
                    dispatchersField.disabled = true;
                    additionalReasonField.disabled = true;
                    warehouseField.disabled = true;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").fadeIn();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                    assignDateField.required = false;
                    dispatchersField.required = false;
                    additionalReasonField.required = false;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = false;
                    paymentMethodField.required = true;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                } else if ((selectedStatusCode === '12') || (selectedStatusCode === 'SFJ')) {
                    assignDateField.disabled = true;
                    dispatchersField.disabled = true;
                    additionalReasonField.disabled = true;
                    warehouseField.disabled = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").fadeIn();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                    // Set the fields as required
                    assignDateField.required = false;
                    dispatchersField.required = false;
                    additionalReasonField.required = false;
                    warehouseField.required = true;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                } else if ((selectedStatusCode === 'CD') || (selectedStatusCode === 'DC')) {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = false;
                    additionalReasonField.required = true;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").fadeIn();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                } else if (selectedStatusCode === 'UW') {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = true;
                    additionalReasonField.required = false;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = false;
                    weightField.required = true;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").fadeIn();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();
                } else if (selectedStatusCode === 'UAR') {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = true;
                    additionalReasonField.required = false;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = false;
                    areaField.required = true;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").fadeIn();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();
                } else if (selectedStatusCode === 'UAS') {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = true;
                    additionalReasonField.required = false;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = false;
                    addressField.required = true;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").fadeIn();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();
                } else if (selectedStatusCode === 'UPN') {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = true;
                    additionalReasonField.required = false;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = false;
                    phoneNumField.required = true;

                    nameField.disabled = true;
                    nameField.required = false;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").fadeIn();
                    $("#nameWrapper").hide();
                } else if (selectedStatusCode === 'URN') {
                    // Enable the "Additional Reason" field and make it required
                    additionalReasonField.disabled = true;
                    additionalReasonField.required = false;

                    // Disable the "Dispatchers" field
                    dispatchersField.disabled = true;
                    dispatchersField.required = false;

                    assignDateField.disabled = true;
                    assignDateField.required = false;

                    warehouseField.disabled = true;
                    warehouseField.required = false;

                    weightField.disabled = true;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = false;
                    nameField.required = true;

                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").fadeIn();
                } else {
                    // Disable the fields for other status codes
                    assignDateField.disabled = true;
                    dispatchersField.disabled = true;
                    additionalReasonField.disabled = true;
                    warehouseField.disabled = true;
                    weightField.disabled = true;

                    // Remove the "required" attribute from the fields
                    assignDateField.required = false;
                    dispatchersField.required = false;
                    additionalReasonField.required = false;
                    warehouseField.required = false;
                    weightField.required = false;

                    paymentMethodField.disabled = true;
                    paymentMethodField.required = false;

                    priceField.disabled = true;
                    priceField.required = false;

                    areaField.disabled = true;
                    areaField.required = false;

                    addressField.disabled = true;
                    addressField.required = false;

                    phoneNumField.disabled = true;
                    phoneNumField.required = false;

                    nameField.disabled = true;
                    nameField.required = false;

                    // Hide all wrappers
                    $("#assignDateWrapper").hide();
                    $("#dispatchersWrapper").hide();
                    $("#additionalReasonWrapper").hide();
                    $("#freelancerNameWrapper").hide();
                    $("#warehouseWrapper").hide();
                    $("#weightWrapper").hide();
                    $("#paymentMethodWrapper").hide();
                    $("#priceWrapper").hide();
                    $("#areaWrapper").hide();
                    $("#addressWrapper").hide();
                    $("#phoneNumWrapper").hide();
                    $("#nameWrapper").hide();

                    // Enable all options in the Dispatchers dropdown
                    const dispatcherOptions = dispatchersField.options;
                    for (let i = 0; i < dispatcherOptions.length; i++) {
                        dispatcherOptions[i].disabled = false;
                    }
                }
            }

            // Attach the updateFieldStatus function to the "change" event of the status code select element
            statusCodeSelect.addEventListener('change', updateFieldStatus);
            paymentMethodField.addEventListener('change', updatePriceWrapper);

            // Initialize field status based on the initial selected status code
            updateFieldStatus();

            // Attach the updateFreelancerNameField function to the "change" event of the "Dispatchers" dropdown
            dispatchersField.addEventListener('change', updateFreelancerNameField);

            // Initialize the "Freelancer Name" field based on the initial selected dispatcher
            updateFreelancerNameField();
        });
    </script>
    <script>
        let inputElement1 = document.getElementById('phoneNum');

        var patternMask = IMask(inputElement1, {
            mask: '{673}0000000',
        });
    </script>
</body>

</html>